article {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.rics {
    position: fixed;
}

.rics img {
    width: 100%;
}

.pots {

    display: flex;
    gap: 8px;
    justify-content: center;
}


.pot {
    position: absolute;
    bottom: 3px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}


.pot.active {
    position: absolute;
    background-color: #dbdbdb;
    left: 160px;
}

.pot.riop {
    position: absolute;
    background-color:#dbdbdb;
    right: 160px;
}

.info{
    position: absolute;
        width: 410px;
        height: 114px;
        left: -3px;
        bottom: 10px;
    text-align: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: bolder;
        font-size: 29px;
        
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.02em;
    
        color: white;
}

.shadow{
    position: absolute;
        width: 426px;
        height: 267px;
        left: 0px;
        bottom: -60px;
        opacity: 0.9;
        background: linear-gradient(356.89deg, #332F2F 10%, rgba(51, 47, 47, 0) 98.22%);
}


