* {
    box-sizing: border-box;
}

.cntainer {
    border-radius: 10px;
    background-color: #f2f2f285;
    width: 38vw;
    height: 85vh;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 110vw;
    max-height: 120vh;
    margin-top: 3%;
    margin-left: 32%;
    margin-bottom: 4%;
}

.logojay {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100px;
    margin-left: 7vw;
}


h2 {
    text-align: center !important;
    color: #2F3E91;
    padding-top: 3vh;
}

.put {
    font-size: 27px;
}

h2+p {
    text-align: center;
}

.login {
    margin-bottom: 7%;
}

.rower {
    margin-top: 3vh;
    margin-left: 5.7vw;
}

.colun,
.login {
    padding-left: 80px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rower::after {
    content: "";
    display: table;
    clear: both;
}

.resetpassw{
    width: 25vw;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

.resetpassw:focus {
   padding: 13px 13px;
    border: 1px solid rgb(238, 200, 200);
    cursor: text;

}

.loginReset {
    display: flex;
    margin-top: 3.5vh;

}

.reset {
    text-decoration: none;
    margin-left: 6vw;
}

.continue {
    margin-left: 4vw;
    background-color: #f7941d;
    color: rgb(7, 7, 7);
    padding: 5px 5px;
    width: 13vw;
    border: none;
    cursor: pointer;
    border-radius: 20px;

}

.continue:hover {
    background: rgb(147, 187, 255);
    font-family: "Lato", sans-serif;
    font-size: 15px;
}



@media screen and (min-width: 350px) and (max-width: 550px) {

.resetpassw{
        margin-top: 20px;
        width: 80vw;
        padding: 12px 12px;
        margin-left: 5.7vw;
    }

    .cntainer {
        border-radius: 5px;
        width: 95%;
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 4%;
    }

    .colun {
        padding-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .continue {
        background-color: #f7941d;
        color: white;
        padding: 12px 12px;
        width: 40vw;
        border-radius: 10px;

    }
}