* {
    box-sizing: border-box;
}

.contener {
    border-radius: 10px;
    background-color: #f2f2f285;
    width: 38vw;
    height: 70vh;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 110vw;
    max-height: 120vh;
    margin-top: 4%;
    margin-left: 32%;
    margin-bottom: 4.7%;
}

.logojay {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100px;
    margin-left: 7vw;
}
.your{
    font-size: 34px;
}

h2 {
    text-align: center !important;
    color: #2F3E91;
    padding-top: 3vh;
}
h2+p {
    text-align: center;
}
.reg{
    width: 70%;
    margin-left: 16%;
    font-size: 12px;
}

.rower{
    margin-left: 5.7vw;
}
.colu {
    padding-left: 80px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rower::after {
    content: "";
    display: table;
    clear: both;
}

input[type="resetemail"]
{
    width: 28vw;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}

input[type="resetemail"]:focus
{
    padding: 13px 13px;
    border: 1px solid rgb(238, 200, 200);
    cursor: text;
}
.loginRet {
    display: flex;
  
}
.bck{
    margin-left: 5.5vw;
}
.request{
    margin-left:3vw;
    background-color: #f7941d;
    color: rgb(7, 7, 7);
    padding: 10px 1px;
    width: 18vw;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 14px;

}

.request:hover {
    background: rgb(147, 187, 255);
    border: none;
    font-size: 15px;
}


@media screen and (min-width: 350px) and (max-width: 550px) {

   
    input[type="resetemail"]
   {
        margin-top: 20px;
        width: 80vw;
        padding: 12px 12px;
        margin-left: 5.7vw;
       
    }
    .contener {
      
        border-radius: 5px;
        width: 100%;
        height: 500px;
        margin-top: 60%;
        margin-left: 5%;
        margin-bottom: 40%;
    }
    .request {
        padding: 10px 15px;
        width: 50vw;
        border-radius: 10px;
        font-size: 12px;

    }
        .rower {
            margin-left: 5.7vw;
           
        }
        .colu {
            padding-left: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left:0px ;
        }
  .your {
            font-size: 25px;
        }
    
        .reg {
            width: 70%;
            margin-left: 16%;
            font-size: 12px;
        }

        input[type="resetemail"]:focus {
            padding: 13px 13px;
            border: 1px solid rgb(238, 200, 200);
            cursor: text;
        }
    
        .loginRet {
            display: flex;
    
        }
    
        .bck {
            margin-left: 5.5vw;
        }
    
      
    
       
}

