.Painn .patn {
    width: max-content;
    background: #292561;
    margin-left: 795px;
    margin-top: 2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #D4D3DF;
}