.bank-transfer {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 90px;
}
.bank-transfer-container {
    background-color: #292561;
    width: 600px;
    height: 350px;
    margin-top: 10px;
    border-radius: 10px;
}
.bank-transfer-container .text {
    text-align: center;
    line-height: 10px;
    margin-top: 40px;
    color: rgb(241, 163, 18);
    
}
.bank-transfer-container .text  h2 {
    font-size: 30px;
}
.bank-transfer-container .text p {
    font-size: 18px;
    margin-right: 10px;
}
.textHead{
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: white;
    padding: 0 35px;
    
}
.bank-transfer-content {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px 30px;
}
.bank-transfer-content .most-used {
    background-color: white;
    width: 140px;
    height: 40px;
    border-radius: 7px;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    margin: 10px 25px;
}
.buttonProceed-1 {
    width: 200px;
    background-color: rgb(241, 107, 18);
    margin: 10px 200px;
    align-items: center;
    font-size: 20px;
    color: black;
    border-radius: 20px;
}
.back-btn {
    width: 42%;
    padding-top: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
}
