 .account-start .settings{
    display: flex;
        flex-direction: row;
margin-left: 50px;
margin-top: -3rem;
gap:1.5rem;

}
.account-start .settings img{
    margin-top: 1rem;
    height:38px;
}
.account-start .settings .topic{
    display: flex;
        align-items: flex-end;
        text-align: center;
font-family: 'DM Sans';
    font-style: normal;
    font-weight:bold;
    font-size: 36px;
    line-height: 81px;
    color: #292561;
}
.account-start .reku{
    display: flex;
    flex-direction: row;
    background: #292561;
        border-radius: 10px;
    margin-top: 0.5rem;
margin-left: 50px;
padding: 0.5rem 2rem;
      
        width: max-content;
          font-size: 40px;       
}
.account-start  .peku{
    display: flex;
        flex-direction: row;
   
}
.account-start .peku a{
    font-size: 25px;
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        align-items: flex-end;
            text-align: center;
            padding: 0 5.5rem;
}
.account-start .link{
    color: #FAAF40;
}
.account-start .link-active{
    color:#FFFFFF;
}
 @media screen and (max-width: 600px){
.account-start .settings .topic {
        display: flex;
        align-items: flex-end;
        text-align: center;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: bold;
        margin-top: 10rem;
        font-size: 36px;
        line-height: 10px;
        color: #292561;
    }
  .account-start .peku {
      display: flex;
      flex-direction: column;

  }
 }